<div [ngStyle]="{'margin-bottom': '20px'}">
    <nav>
        <ul>
            <li><a routerLinkActive="active">
                <h3 class="nav-title">{{title}}</h3>
            </a></li>
            <span>
                <li class="nav-item"><a routerLink="/list" routerLinkActive="active">LISTING</a></li>
                <li class="nav-item"><a routerLink="/standing" routerLinkActive="active">STANDING</a></li>
            </span>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>


